
@{
    ViewBag.Title = "Inicio";
}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="card card-inverse">
                <div class="card-header">
                    <h5 class="text-center">
                        <span class="badge badge-pill badge-primary pull-right">Primary</span>
                        Featured Featured Featured Featured
                    </h5>
                </div>
                <div class="card-block">
                    <img class="card-img-top img-cand img-fluid img-thumbnail" src="http://lorempixel.com/1280/720/" alt="Card image cap">
                    <p class="card-text text-justify">
                        Sed accumsan dolor ullamcorper consectetur ornare. Curabitur tristique, lectus in imperdiet auctor, risus erat viverra purus, non efficitur quam leo nec diam. Sed egestas sapien id enim iaculis mattis. Maecenas ac nunc pharetra, tincidunt tortor.    
                    </p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary btn-block">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="card card-inverse">
                <div class="card-header">
                    <h5 class="text-center">
                        <span class="badge badge-pill badge-primary pull-right">Primary</span>
                        Featured Featured Featured Featured
                    </h5>
                </div>
                <div class="card-block">
                    <img class="card-img-top img-cand img-fluid img-thumbnail" src="http://lorempixel.com/1280/720/" alt="Card image cap">
                    <p class="card-text text-justify">
                        Sed accumsan dolor ullamcorper consectetur ornare. Curabitur tristique, lectus in imperdiet auctor, risus erat viverra purus, non efficitur quam leo nec diam. Sed egestas sapien id enim iaculis mattis. Maecenas ac nunc pharetra, tincidunt tortor.
                    </p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary btn-block">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="card card-inverse">
                <div class="card-header">
                    <h5 class="text-center">
                        <span class="badge badge-pill badge-primary pull-right">Primary</span>
                        Featured Featured Featured Featured
                    </h5>
                </div>
                <div class="card-block">
                    <img class="card-img-top img-cand img-fluid img-thumbnail" src="http://lorempixel.com/1280/720/" alt="Card image cap">
                    <p class="card-text text-justify">
                        Sed accumsan dolor ullamcorper consectetur ornare. Curabitur tristique, lectus in imperdiet auctor, risus erat viverra purus, non efficitur quam leo nec diam. Sed egestas sapien id enim iaculis mattis. Maecenas ac nunc pharetra, tincidunt tortor.
                    </p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary btn-block">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="card card-inverse">
                <div class="card-header">
                    <h5 class="text-center">
                        <span class="badge badge-pill badge-primary pull-right">Primary</span>
                        Featured Featured Featured Featured
                    </h5>
                </div>
                <div class="card-block">
                    <img class="card-img-top img-cand img-fluid img-thumbnail" src="http://lorempixel.com/1280/720/" alt="Card image cap">
                    <p class="card-text text-justify">
                        Sed accumsan dolor ullamcorper consectetur ornare. Curabitur tristique, lectus in imperdiet auctor, risus erat viverra purus, non efficitur quam leo nec diam. Sed egestas sapien id enim iaculis mattis. Maecenas ac nunc pharetra, tincidunt tortor.
                    </p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary btn-block">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="card card-inverse">
                <div class="card-header">
                    <h5 class="text-center">
                        <span class="badge badge-pill badge-primary pull-right">Primary</span>
                        Featured Featured Featured Featured
                    </h5>
                </div>
                <div class="card-block">
                    <img class="card-img-top img-cand img-fluid img-thumbnail" src="http://lorempixel.com/1280/720/" alt="Card image cap">
                    <p class="card-text text-justify">
                        Sed accumsan dolor ullamcorper consectetur ornare. Curabitur tristique, lectus in imperdiet auctor, risus erat viverra purus, non efficitur quam leo nec diam. Sed egestas sapien id enim iaculis mattis. Maecenas ac nunc pharetra, tincidunt tortor.
                    </p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary btn-block">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="card card-inverse">
                <div class="card-header">
                    <h5 class="text-center">
                        <span class="badge badge-pill badge-primary pull-right">Primary</span>
                        Featured Featured Featured Featured
                    </h5>
                </div>
                <div class="card-block">
                    <img class="card-img-top img-cand img-fluid img-thumbnail" src="http://lorempixel.com/1280/720/" alt="Card image cap">
                    <p class="card-text text-justify">
                        Sed accumsan dolor ullamcorper consectetur ornare. Curabitur tristique, lectus in imperdiet auctor, risus erat viverra purus, non efficitur quam leo nec diam. Sed egestas sapien id enim iaculis mattis. Maecenas ac nunc pharetra, tincidunt tortor.
                    </p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary btn-block">Go somewhere</a>
                </div>
            </div>
        </div>  
    </div>
</div>