<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>Innova [ @ViewBag.Title ]</title>
    <link href="~/Assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assets/css/App.css" rel="stylesheet" />
    <link href="~/Assets/css/font-awesome.css" rel="stylesheet" />
</head>
<body>
    <!-- Codigo para el header de la pagina -->
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">Innova <span class="fa fa-code"></span></a>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active"><a class="nav-link" href="~/Home/">Inicio</a></li>
            </ul>
        </div>
    </nav>
    <br />

    @RenderBody()
    
    <br />
    <nav class="navbar sticky-bottom navbar-inverse bg-inverse">
        <a class="navbar-brand text-center" href="#">Copyright &copy; Proyecto Innova</a>
    </nav>
    <!-- Codigo para el footer de pagina -->
    <script src="~/Assets/js/jquery-3.2.0.js"></script>
    <script src="~/Assets/js/bootstrap.js"></script>
</body>
</html>
